<div class="gatekeeper-sign-up" {{did-insert this.didInsert}}>
  <MdcForm @submit={{this.signUp}} @validity={{this.validity}}>
    {{#unless this.useEmailForUsername}}
      <div class="gatekeeper-sign-up__username">
        <MdcTextfield type="text"
                      required="true"
                      autocapitalize="off"
                      autocomplete="off"
                      @style={{this.style}}
                      @value={{this.username}}
                      @label={{unless @usernamePlaceholder this.usernameLabel}}
                      placeholder={{@usernamePlaceholder}}
                      @leadingIcon={{@usernameLeadingIcon}}
                      @errorMessage={{this.usernameErrorMessage}}
                      @helperText={{@usernameHelperText}} />
      </div>
    {{/unless}}

    <div class="gatekeeper-sign-up__email">
      <MdcTextfield type="email"
                    required="true"
                    autocomplete="off"
                    autocapitalize="off"
                    @style={{this.style}}
                    @value={{this.email}}
                    @label={{unless @emailPlaceholder this.emailLabel}}
                    @leadingIcon={{@emailLeadingIcon}}
                    @errorMessage={{this.emailErrorMessage}}
                    placeholder={{@emailPlaceholder}}
                    @helperText={{this.emailHelperText}} />
    </div>

    <div class="gatekeeper-sign-up__password">
      <MdcPasswordTextfield @style={{@style}}
                            @value={{this.password}}
                            @label={{unless @passwordPlaceholder this.passwordLabel}}
                            @helperText={{@passwordHelperText}}
                            placeholder={{@passwordPlaceholder}}
                            required="true" />
    </div>

    {{#if this.confirmPassword}}
      <div class="gatekeeper-sign-up__confirm-password">
        <MdcPasswordTextfield @style={{@style}}
                              @value={{this.confirmed}}
                              @label={{unless @confirmPasswordPlaceholder this.confirmPasswordLabel}}
                              placeholder={{@confirmPasswordPlaceholder}}
                              @errorMessage={{this.confirmErrorMessage}}
                              required="true" />
      </div>
    {{/if}}

    {{#if @confirmation}}
      <div class="gatekeeper-sign-up__confirmation">
        <MdcCheckbox required="true">{{@confirmation}}</MdcCheckbox>
      </div>
    {{/if}}

    <div class="gatekeeper-sign-up__actions">
      <MdcButton type="submit"
                 class="gatekeeper-sign-up--submit"
                 @style={{this.submitButtonStyle}}
                 @label={{this.submitButtonText}}
                 disabled={{this.submitButtonDisabled}} />
    </div>
  </MdcForm>
</div>
