<div class="gatekeeper-client-authenticated-container" {{did-insert this.didInsert}} ...attributes >
  {{yield this.status}}
</div>

<GRecaptchaInvisible @execute={{@execute}} @reset={{@reset}} @verified={{this.verified}} @verifying={{this.verifying}} />
