{{#mdc-form submit=(action "signIn") valid=(action (mut valid))}}
  <div class="gatekeeper--input-controls">
    <div class="gatekeeper--input gatekeeper--username">
      {{mdc-textfield-with-helper-text value=username
                                       style=style
                                       type=usernameType
                                       label=usernameLabel
                                       icon=usernameIcon
                                       iconPosition="trailing"
                                       iconClickable=false
                                       autocapitalize="none"
                                       autocomplete=usernameAutoComplete
                                       required=true
                                       errorMessage=usernameErrorMessage}}
    </div>

    <div class="gatekeeper--input gatekeeper--password">
      {{mdc-password-textfield-with-helper-text value=password
                                                style=style
                                                required=true
                                                type=passwordType
                                                label=passwordLabel
                                                icon=passwordIcon
                                                iconPosition="trailing"
                                                iconClickable=enableShowPassword
                                                iconClick=(action "toggleShowPassword")
                                                autocomplete="off"
                                                autocapitalize="none"
                                                errorMessage=passwordErrorMessage}}
    </div>

    <div>
      {{component componentName
                  siteKey=siteKey
                  verified=(action "verified")
                  reset=reset
                  execute=execute}}
    </div>

    <div class="gatekeeper--submit">
      {{#mdc-button type="submit" style=submitButtonStyle disabled=disabled}}
        {{submitButtonText}}
      {{/mdc-button}}
    </div>
  </div>

{{/mdc-form}}

{{mdc-snackbar message=errorMessage}}
