<div class="container">
  <h3 class="mdc-typography--headline4">Gatekeeper Demo</h3>

  <div><LinkTo @route="unauthorized">Unauthorized Test</LinkTo></div>
  <div><a href="#" {{on "click" this.signOut}}>Sign Out</a></div>


  <h5 class="mdc-typography--headline6">This Account</h5>

  <div>Id: {{this.session.account.id}}</div>
  <div>Username: {{this.session.account.username}}</div>
  <div>Email: {{this.session.account.email}}</div>

  <h5 class="mdc-typography--headline6">Scope</h5>

  <table>
    <thead>
      <tr><th>Name</th><th>Value</th></tr>
    </thead>

    <tbody>
    {{#each-in this.metadata as |key value|}}
      <tr><td>{{key}}</td><td>{{value}}</td></tr>
    {{/each-in}}
    </tbody>
  </table>


  {{#if this.supportsCreateAccount}}
    <blockquote>This session is allowed to create accounts.</blockquote>
  {{/if}}

  {{#if this.isAuthorized}}
    <blockquote>The user <b>is authorized</b> to access this route.</blockquote>
  {{else}}
    <blockquote>The user <b>is not authorized</b> to access this route.</blockquote>
  {{/if}}

  <h5 class="mdc-typography--headline6">Protected Url Helper</h5>

  <p>{{protected-url "http://localhost:8080/images/me.png"}}</p>

  <p>{{protected-url "http://notoken:8080/images/me.png" baseUrl="http://localhost:8080"}}</p>

  <h5 class="mdc-typography--headline6">Authenticate</h5>

  <MdcForm @submit={{this.authenticate}}>
    <MdcPasswordTextfield @label="Password" @value={{this.password}} @style="outlined" />

    <MdcButton @style="raised">Check</MdcButton>
  </MdcForm>

  <h5 class="mdc-typography--headline6">Temp Session</h5>

  {{#if this.tempSession}}
    <MdcButton @style="raised" {{on "click" this.endTempSession}}>End Temp Session</MdcButton>
  {{else}}
    <MdcButton @style="raised" {{on "click" this.createTempSession}}>Create Temp Session</MdcButton>
  {{/if}}
</div>
