<div class="container">
  <h3 class="mdc-typography--headline4">Gatekeeper Demo</h3>

  <div>{{#link-to "unauthorized"}}Unauthorized Test{{/link-to}}</div>
  <div><a href="#" {{action "signOut" target=session}}>Sign Out</a></div>

  {{#if model}}
    <h5 class="mdc-typography--headline6">This Account</h5>

    <div>Id: {{model.id}}</div>
    <div>Username: {{model.username}}</div>
    <div>Email: {{model.email}}</div>
    <div>Scope: {{model.scope}}</div>
  {{/if}}

  <h5 class="mdc-typography--headline6">Session Metadata</h5>

  {{#each-in metadata as |key value|}}
    <div>{{key}}: {{value}}</div>
  {{/each-in}}

  {{#if supportsCreateAccount}}
    <blockquote>This session is allowed to create accounts.</blockquote>
  {{/if}}

  <h5 class="mdc-typography--headline6">Authenticate</h5>

  {{#mdc-form submit=(action "authenticate")}}
    {{mdc-password-textfield-with-helper-text label="Password" value=password}}

    {{#mdc-button style="raised"}}Check{{/mdc-button}}
  {{/mdc-form}}

</div>
